/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html, body {
  font-family: Arial, Helvetica, sans-serif;
  color: #343434 !important;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 10px;
}

.container { 
  max-width: 800px;
}

form {
  margin: 0;
  padding: 0;
  display: inline;
}

a {
  color: darkgreen;
  text-decoration: none;
}

a:hover {
  color:darkgreen;
  text-decoration: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

input[type="submit"] {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: darkgreen;
  color: white;
  padding: 6px 25px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 16px;
  color: white;
  background-color: darkgreen;
  display: inline-block;
  padding: 6px 25px 7px;
  text-align: center;
}

.inputfile:focus + label,.inputfile + label:hover {
 /*background-color: red;*/
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
font-size: 14px;
}
@media (min-width: 768px) {
html {
  font-size: 16px;
}
}

.border-top {
border-top: 1px solid #e5e5e5;
}
.border-bottom {
border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
/*box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);*/
}

button.accept-policy {
font-size: 1rem;
line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
}

body {
/* Margin bottom by footer height */
margin-bottom: 60px;
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
white-space: nowrap;
/* Set the fixed height of the footer here */
height: 60px;
line-height: 60px; /* Vertically center the text there */
}